{% extends 'base.html.twig' %}

{% block title %}page resultat
{% endblock %}

{% block body %}

	<main>

		<h3 class="title">Dans votre ville:
			{{ weather.name }}</h3>
		<p class="text">Temps :
			{{ weather.weather[0].description }}</p>
		<p class="text">Tempértaure : entre
			{{ weather.main.temp_min }}°C et
			{{ weather.main.temp_max }}°C</p>

		<div class="activite">
			<div>
				<h4 class="title">En intérieur</h4>
				<ul class="list-activite">
					{% for a in activities %}
						{% if not a.outdoors %}
							<li>{{ a.name }}</li>
						{% endif %}
					{% else %}
						<li>Pas d'activité trouvée... votre météo est impossible!</li>
					{% endfor %}
				</ul>
			</div>
			{% if isSunny %}
				<div>
					<h4 class="title">En extérieur</h4>
					<ul class="list-activite">

						{% for a in activities %}
							{% if a.outdoors %}
								<li>{{ a.name }}</li>
							{% endif %}
						{% else %}
							<li>Pas d'activité trouvée... votre météo est impossible!</li>
						{% endfor %}

					</ul>
				</div>
			{% endif %}
		</div>

		<div class="btn-retour">
			<a href="{{ path('app_home') }}">
				<i class="fa-solid fa-arrow-left-long">Retour à l'acueil</a>
			</i>
		</div>
	</main>
{% endblock %}
